<!--
  templateType: global_partial
  label: Footer
-->
<footer class="container-fluid bg-primary text-white py-3">
  <div class="container" style="max-width: 500px">
    <div class="d-flex justify-content-between mb-3">
      <div><a class="text-white text-decoration-none" href="https://www.facebook.com/Oliveusapp/"><i class="bi bi-facebook text-white fs-1"></i></a></div>
      <div><a class="text-white text-decoration-none" href="https://www.instagram.com/oliveusapp/"><i class="bi bi-instagram text-white fs-1"></i></a></div>
      <div><a class="text-white text-decoration-none" href="mailto:hello@oliveusapp.com"><i class="bi bi-envelope-heart text-white fs-1"></i></a></div>
    </div>
    <div class="d-flex justify-content-between mb-3">
      <div><a class="text-white text-decoration-none" href="/">Home</a></div>
      <div><a class="text-white text-decoration-none" href="/join/">Join</a></div>
      <div><a class="text-white text-decoration-none" href="/faqs/">FAQs</a></div>
    </div>
  </div>
  <h6 class="text-center mb-3"><a href="mailto:hello@oliveusapp.com" class="text-white text-decoration-none">hello@oliveusapp.com</a></h6>
  <p class="text-center">2022 Olive Us Inc.</p>
</footer>