<!--
  templateType: global_partial
  label: Header
-->
<a href="/#download">
  <div class="bg-primary text-white p-2 text-center fw-bold">Download the App! Click Here!</div>
</a>
<header class="container-fluid mb-5">
  <nav class="navbar navbar-expand-lg d-flex justify-content-between bg-white">
    <div class="container">
      <div class="d-flex justify-content-between w-100">
        <a href="/" class="navbar-brand" id="logo">
          <img class="card-img-top" src="https://oliveusapp.com/hubfs/logo.webp" alt="oliveus-logo" style="max-width: 75px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end w-100" id="navbarTogglerDemo03">
        <div class="navbar-nav mb-2 mb-lg-0 text-end d-flex align-items-center" id="navbarNavAltMarkup">
          <a class="nav-link text-nowrap" href="/#about">ABOUT</a>
          <a class="nav-link text-nowrap" href="/blog/">BLOG</a>
          <a class="nav-link text-nowrap" href="/join/">JOIN</a>
          <a class="nav-link text-nowrap" href="/faqs/">FAQs</a>
          <a class="nav-link text-nowrap" href="/store/">STORE</a>
          <span class="nav-item ms-2">
            <a class="btn btn-custom-primary text-nowrap" href="/#download">DOWNLOAD APP</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>