<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
-->
{% extends "./layouts/base.html" %}

{% block body %}
<main class="container">
  <section class="row mb-5 pb-5">
    <div class="col-md-5">
      <h1 class="text-primary mb-4">
        "It takes a village. It takes Olive Us"
      </h1>
      <h2 class="mb-4">
        Olive Us is a simple app to find your perfect Match
      </h2>
      <h3 class="text-black fw-bold mb-5">#ittakesoliveus</h3>
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="col-4 d-flex justify-content-center p-0">
          <img class="w-100" src="https://oliveusapp.com/hubfs/phone-dashboard.webp" alt="phone-dashboard" style="max-width: 200px;">
        </div>
        <div class="col-4 d-flex justify-content-center p-0">
          <img class="w-100" src="https://oliveusapp.com/hubfs/phone-sitter.webp" alt="phone-sitter" style="max-width: 200px;">
        </div>
        <div class="col-4 d-flex justify-content-center p-0">
          <img class="w-100" src="https://oliveusapp.com/hubfs/phone-sitters.webp" alt="phone-sitters" style="max-width: 200px;">
        </div>
      </div>
    </div>
  </section>
  <section class="row justify-content-end my-5" style="background-image: url(https://oliveusapp.com/hubfs/arms.webp); background-size: contain; background-repeat: no-repeat;">
    <div class="col-md-5 bg-primary m-md-5 py-5">
      <h2 class="text-white px-3">Empowering Families to find the safest, perfect match sitter in order to create balance in their lives.</h2>
      <h4 class="text-gray px-3">Creating a supportive community for Babysitters.</h4>
    </div>
  </section>
  <section class="my-5" id="download">
    <h2 class="text-primary text-center mb-4">
      <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="parent-tab" data-bs-toggle="tab" data-bs-target="#parent-tab-pane" type="button" role="tab" aria-controls="parent-tab-pane" aria-selected="true">Download Family</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="sitter-tab" data-bs-toggle="tab" data-bs-target="#sitter-tab-pane" type="button" role="tab" aria-controls="sitter-tab-pane" aria-selected="false">Download Sitter</button>
        </li>
      </ul>
    </h2>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="parent-tab-pane" role="tabpanel" aria-labelledby="parent-tab" tabindex="0">
        <div class="d-flex justify-content-around">
          <div style="max-width: 300px; flex: 1">
            <a href="https://apps.apple.com/us/app/oliveus-parent/id1616319213" target="_blank">
              <img class="me-2" src="https://oliveusapp.com/hubfs/ios-black.webp" alt="download-ios-parent" style="width: 94%; height: auto;">
            </a>
          </div>
          <div style="max-width: 300px; flex: 1">
            <a href="https://play.google.com/store/apps/details?id=com.oliveus.parent" target="_blank">
              <img class="me-2" src="https://21834940.fs1.hubspotusercontent-na1.net/hubfs/21834940/android-black.webp" alt="download-android-parent" style="width: 94%; height: auto;">
            </a>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="sitter-tab-pane" role="tabpanel" aria-labelledby="sitter-tab" tabindex="0">
        <div class="d-flex justify-content-around">
          <div style="max-width: 300px; flex: 1">
            <a href="https://apps.apple.com/us/app/oliveus-sitter/id1627455487" target="_blank">
              <img class="me-2" src="https://oliveusapp.com/hubfs/ios-black.webp" alt="download-ios-sitter" style="width: 94%; height: auto;">
            </a>
          </div>
          <div style="max-width: 300px; flex: 1">
            <a href="https://play.google.com/store/apps/details?id=com.oliveus.sitter" target="_blank">
              <img class="me-2" src="https://21834940.fs1.hubspotusercontent-na1.net/hubfs/21834940/android-black.webp" alt="download-android-sitter" style="width: 94%; height: auto;">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="row my-5" id="app">
    <h2 class="text-primary text-center mb-4">How It Works</h2>
    <p class="mb-4">
      The Olive Us App is an alternative solution for matching families with qualified sitters who
      meet a family's unique needs. Our detailed matching questionnaires for sitters & families are
      based on more than a decade of experience in operating a full- service nanny placement agency.
      Our easy to use 'app' automates the matching, meeting and vetting process.
    </p>
    <div class="col-sm-4 text-center mb-5">
      <img class="w-100 mb-2 ms-2" src="https://oliveusapp.com/hubfs/phone-sitter.webp" alt="phone-sitter">
      <h4 class="text-primary">MATCH</h4>
      <h5>Find your perfect sitter matched for your family needs</h5>
    </div>
    <div class="col-sm-4 text-center mb-5">
      <img class="w-100 mb-2 ms-2" src="https://oliveusapp.com/hubfs/phone-sitters.webp" alt="phone-sitters">
      <h4 class="text-primary">BUILD</h4>
      <h5>Build your community with your favorite Matched Sitters</h5>
    </div>
    <div class="col-sm-4 text-center mb-5">
      <img class="w-100 mb-2 ms-2" src="https://oliveusapp.com/hubfs/phone-bookings.webp" alt="phone-bookings">
      <h4 class="text-primary">BOOK</h4>
      <h5>Easily Book + Pay your sitters on the app</h5>
    </div>
  </section>
  <section class="row justify-content-start my-5" style="background-image: url(https://oliveusapp.com/hubfs/yellow-umbrella.webp); background-size: contain; background-repeat: no-repeat; background-position: right;">
    <div class="col-md-5 bg-primary m-md-5 py-5">
      <h2 class="text-white px-3">Why Olive Us?</h2>
      <h6 class="text-white px-3">
        Olive Us knows your family's needs based on our detailed personality questionnaire. All
        sitters are background check providing families and sitters with the safest experience. Find
        your perfect Match, build your tribe, and book instantly. Use features like live video chat,
        view video clips on each sitter's profile to get to know your sitter before booking.
      </h6>
    </div>
  </section>
  <section class="my-5" id="about">
    <h2 class="text-center text-primary">About Olive Us</h2>
    <p>
      Leading the Nanny industry for over 20 years, Olive Us provides parents with the tools and an
      easy platform to search, interview & hire the best matched sitters for their family's needs.
      Our app experience alleviates the stress and fears a parent may have when finding the right
      caregiver. Nanny Tribe can be used easily and safely to find a babysitter with some of the
      industry top features.
    </p>
    <div class="row justify-content-end my-5" style="background-image: url(https://oliveusapp.com/hubfs/mom-whisper.webp); background-size: contain; background-repeat: no-repeat; background-position: left;">
      <div class="col-md-5 bg-primary m-md-5 py-5">
        <h2 class="text-white px-3">How Olive Us Works</h2>
        <h6 class="text-white px-3">
          It's Simple. Parents & Sitters take Nanny Tribe's perfected Matching questionnaire. This
          process allows Olive Us to find you the perfect match. Swipe through your TOP Matches,
          select your favorites, add them to your favorites! Ready to Book? Easy! Request your top
          Sitter. We'll notify you if your sitter is available with a simple text to your phone. Pay
          your sitter easily through our in app payment system. Olive Us is all about making this
          process fun, simple and easy!
        </h6>
      </div>
    </div>
    <div class="row justify-content-start my-5" style="background-image: url(https://oliveusapp.com/hubfs/crosswalk.webp); background-size: contain; background-repeat: no-repeat; background-position: right;">
      <div class="col-md-5 bg-primary m-md-5 py-5">
        <h2 class="text-white px-3">Safety</h2>
        <h6 class="text-white px-3">
          Olive Us is big on SAFETY, using the industry's latest tools and protocols. All sitters
          must be 17 years of age to access the app along with using our screened background checks.
          First impressions are everything, so make sure you view the Sitters profile video to get a
          better feel on their personality and vibe. Take even a step further? Interview your sitter
          before they sit with Olive Us Video Chat feature!
        </h6>
      </div>
    </div>
    <!-- <div class="row justify-content-end my-5" style="background-image: url(https://oliveusapp.com/hubfs/mom-carry.webp); background-size: contain; background-repeat: no-repeat; background-position: left;">
      <div class="col-md-5 bg-primary m-md-5 py-5">
        <h2 class="text-white px-3">Why Be Part of Olive Us?</h2>
        <h6 class="text-white px-3">

        </h6>
      </div>
    </div> -->
  </section>
  <section class="text-center my-4">
    <h3 class="text-primary mb-4">Stay Updated</h3>
    <p class="mb-4">We respect your privacy.</p>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
    <script>
      hbspt.forms.create({
        region: "na1",
        portalId: "21834940",
        formId: "8d0a3bb8-153f-4025-a325-530d82ddcf94"
      });
    </script>
  </section>
</main>
{% endblock body %}
